
    <!-- Header -->
    <header>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="index.html"><img src="assets/images/logo.png" alt="logo" class="img-fluid" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#bs4navbar" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="bs4navbar">
                    <hr>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item "  >
                            <a class="nav-link active" (click)="service.navigateTo('')">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link"   (click)="service.navigateTo('about-us')">About Us</a>
                        </li>
                        <!-- Dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown">Services</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">Responsive Web Development</a>
                                <a class="dropdown-item" href="#">IT-Training & Plecement</a>
                                <a class="dropdown-item" href="#">IT-Problem Solutions</a>
                                <a class="dropdown-item" href="#">Online & Offline Exam</a>
                                <a class="dropdown-item" href="#">Cross-Platform Apps Development</a>
								<a class="dropdown-item" href="#">Responsive Design for Web & App</a>
								<a class="dropdown-item" href="#">Professional VideoGraphy</a>
								<a class="dropdown-item" href="#">Logo Design</a>
								<a class="dropdown-item" href="#">Digital Painting</a>
								<a class="dropdown-item" href="#">Career & Finance Services</a>
                            </div>
                        </li>   
<!---                        
                        <li class="nav-item">
                            <a class="nav-link" href="#">Resource</a>
                        </li>
						-->
						 <li class="nav-item">
                             <a class="nav-link" (click)="service.navigateTo('sign-up')">Registration</a>
                          </li>
                        <li class="nav-item">
                            <a class="nav-link" (click)="service.navigateTo('contact-us')">Contact Us</a>
                        </li>                            
                    </ul>
                </div>
            </nav>
        </div>

    <!-- End Header -->

	
	<!---header stripe Start -->
	<div id="header">
  <div class="topbar">
    <div class="container">
      <div class="row">
        <div class="col-sm-8">
          <ul>
            <li><i class="fa fa-volume-control-phone" aria-hidden="true"></i> +91 9170190050</li>
            <li>|</li>
            <li><a href="mailto:"><i class="fa fa-envelope-o" aria-hidden="true"></i> er.rohitsingh09@gmail.com</a></li>
            <li>|</li>
            <li><i class="fa fa-clock-o" aria-hidden="true"></i> 24/7 Hours Working</li>
          </ul>
        </div>
        <div class="col-sm-4">
          <ul class="social-icon">
            <li class="followus-label">Follow Us:</li>
            <li><a href="https://www.facebook.com/Rohit42310031/" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li><a href="https://twitter.com/RohitSi49998679" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
       
            <li><a href="https://www.linkedin.com/in/rohit-singh-a51252152/" target="_blank">
			<i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
  <header>
   