
<app-header></app-header>
 <section class="jumbotron" style="margin-bottom:0rem;">
    <div class="container">
      <div class="row text-center">
    <h2>  Hello ,Welcome To My official Website</h2>
   <p style="text-align:justify">
    Now you are connected with most responsible and expert of IT-Team.
	We can transform your dream into reality. We provide fully functional Web Apps. 
	
        </p>
		<p style="text-align:justify">We will 
<!--has helped develop --> develop over 500 applications for clients ranging from local startups to Fortune 500 companies.
 <!--we have earned--> and our goal is to earn  recognition from our clients, the press, and the community as being world-class 
Angular developers that deliver high quality applications and a customer-focused process.
</p>
	
	   
    </div>
    </div> 
   <!-- portfolio     https://www.awwwards.com/awwwards/collections/build-with-angular/  -->
<div class="portfolio">
     <h1 class="text-center">Portfolio</h1>
 <div class="container">
  <div class="row">
   <div class="col-lg-4 col-md-4 col-sm-12">
    <img src="assets/images/portfolio/img1.png" class="img-fluid img-style">
   </div>
   <div class="col-lg-4 col-md-4 col-sm-12">
    <img src="assets/images/portfolio/androidguide.jpg" class="img-fluid">
   </div>
   <div class="col-lg-4 col-md-4 col-sm-12">
    <img src="assets/images/portfolio/Angular__firebase.png" class="img-fluid">
   </div>
      
<div class="col-lg-4 col-md-4 col-sm-12">
    <img src="assets/images/portfolio/images (1).jpg" class="img-fluid ">
   </div>
   <div class="col-lg-4 col-md-4 col-sm-12">
   
	 <img src="assets/images/portfolio/awsBenglaluru.png" class="img-fluid img-style">
   </div>
   <div class="col-lg-4 col-md-4 col-sm-12">
    <img src="assets/images/portfolio/JS3.png" class="img-fluid">
   </div>
      
<div class="col-lg-4 col-md-4 col-sm-12">
    <img src="assets/images/portfolio/java.jpg" class="img-fluid">
   </div>
   <div class="col-lg-4 col-md-4 col-sm-12">
    <img src="assets/images/portfolio/networking.png" class="img-fluid">
   </div>
   <div class="col-lg-4 col-md-4 col-sm-12">
    <img src="assets/images/portfolio/php2.jpg" class="img-fluid img-style">
   </div>
  </div>
 </div>
</div>




   
   
  </section>
<section class="section  text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque">
<div class="background-overlay grid-overlay-0 " style="background-color: rgba(0,0,0,0);"></div>
<div class="container-fullwidth container-vertical-default">
<div class="row vertical-default">
<div class="col-md-12     text-default small-screen-default"><section id="how_can_Box" class="text-center" >
<div class="container"><div class="how-can-help-slider">
<div class="slide-howcanhelp animatedParent text-center animateOnce">
<div class="row ">
<div class="col-md-12 animated growIn go">
<h2>How can we help you?</h2>
<div class="talk_box">

<span class="button_box">
<a class="talk_expert text-uppercase" (click)="service.navigateTo('send-message')" target="_blank">Talk with an Expert</a>

</span>

</div>
<p>Learn more about what we do</p>
<div class="talk_box">Learn how we can transform your business
<!-- 
<span class="button_box">
<a class="talk_expert text-uppercase" href="#contact-us.html" target="_blank">Talk with an Expert</a>

</span>
-->
</div>

</div>
</div>
</div></div> </div>
</section></div>
</div></div></section>
    
<app-footer></app-footer>