 <app-header></app-header>         
<div class="about">
  
    <div class="container ">
        <h1 class="text-center">About Me</h1>
   <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
       <img src="assets/images/rohit.jpg" class="img-fluid">
       <span class="text-justify">S.Web Developer</span>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 desc">
       <h3>Rohit Singh</h3>
       <p class="text-justify">
         I am a self reliant person Who like to ovecome challenges.
         I belong to Gorakhpur and My father name is Mr. Radheshyam Singh.
         He is a farmer and social worker/advisor. My mother is a good housewife and the name of my mother is Mrs Shanti Singh. she makes delicious food and amazing cake with IceCream. I  am constantly grow my mental power as a Mentor/Demonstrator, crucial Problem Solver from Aug 15, 1997. as the part of this I have successfully done my Technical Graduation Course from Dr. APJ Abdul Kalam Technical University in 2018 and I have been achieved  Rewarded Certificates with I-DIVISION. I believes in smart work but I do Hard Work because Hard Work makes me more confident. I have lot of quality skills like -- Punctual, Confident, Responsible, Energetic, Hard work, Helpful, Reliable, Honest, Helpful, Imaginative, Resourceful, Ambitious. I like reading books and playing chess but I am very passionate about Coding because this is my responsibility as a software engineer. But I believes to live my life with my own thinking. I think life is a stage and we all are here to perform my  best role. 
       </p>
      </div>
     </div>
     
     
     
   
      </div>
      </div>
   
   
      
   <!-- Team section -->
   <div class="team" style="padding-bottom:27px">
    <div class="container">
       <h1 class="text-center">Our Team</h1>
     <div class="row" >
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="assets/images/shivam.jpg" class="img-fluid" alt="team">
       <div class="des">
      Shaurya Mishra
        </div>
       <span class="text-muted">Manager</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="assets/images/stuti.jpg" class="img-fluid" alt="team">
       <div class="des">
        Er. Stuti 
        </div>
       <span class="text-muted">S.enginner</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="assets/images/pramod.jpg" class="img-fluid" alt="team">
       <div class="des">
       Mr. Pramod
        </div>
       <span class="text-muted">Front End Developer</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="assets/images/rohit.jpg" class="img-fluid" alt="team">
        <div class="des">
        Rohit Singh
        </div>
       <span class="text-muted">Team Manger</span>
      </div>
     </div>
    
   
    </div>
   </div>
   
   
   
   <!-- Team section -->
   <div class="team">
    <div class="container">
      
     <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="assets/images/nikita.jpg" class="img-fluid" alt="team">
       <div class="des">
        Nikita Shrivastav
        </div>
       <span class="text-muted">Manager</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="assets/images/lakshya.jpg" class="img-fluid" alt="team">
       <div class="des">
        Lakshya Jya
        </div>
       <span class="text-muted">S.enginner</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="assets/images/mohit.jpg" class="img-fluid" alt="team">
       <div class="des">
         Mohit
        </div>
       <span class="text-muted">Front End Developer</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="assets/images/arun.jpg" class="img-fluid" alt="team">
        <div class="des">
    Arun Maurya
        </div>
       <span class="text-muted">Team Manger</span>
      </div>
     </div>
    </div>
   </div>
   
   <app-footer></app-footer>