 <app-header></app-header>         
<div class="about">
  
    <div class="container ">
        <h1 class="text-center">About US & Me</h1>
   <div class="row">
      <div class="col-lg-4 col-md-4 col-sm-12">
       <img src="assets/images/rohit.jpg" class="img-fluid">
       <span class="text-justify">S.Web Developer</span>
       <br/><br/>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <h3>Rohit Raj Singh</h3>
      </div>
      <div class="col-lg-8 col-md-8 col-sm-12 desc">
       
       <!-- <p class="text-justify">
         I am a self reliant person Who like to ovecome challenges.
         I belong to Gorakhpur and My father name is Mr. Radheshyam Singh.
         He is a farmer and social worker/advisor. My mother is a good housewife and the name of my mother is Mrs Shanti Singh. she makes delicious food and amazing cake with IceCream. I  am constantly grow my mental power as a Mentor/Demonstrator, crucial Problem Solver from Aug 15, 1997. as the part of this I have successfully done my Technical Graduation Course from Dr. APJ Abdul Kalam Technical University in 2018 and I have been achieved  Rewarded Certificates with I-DIVISION. I believes in smart work but I do Hard Work because Hard Work makes me more confident. I have lot of quality skills like -- Punctual, Confident, Responsible, Energetic, Hard work, Helpful, Reliable, Honest, Helpful, Imaginative, Resourceful, Ambitious. I like reading books and playing chess but I am very passionate about Coding because this is my responsibility as a software engineer. But I believes to live my life with my own thinking. I think life is a stage and we all are here to perform my  best role. 
       </p> -->
       <p>
        We are  IT consulting, solutions, and service provider with a team of experienced and highly certified IT professionals. Founded in 2025, India. we have grown in to a renowned multinational establishment,  India. We take pride on our strong R&D heritage and ability to innovate, which has allowed us to engage with prestigious projects undertaken from some of the worlds renowned global establishments, there by carving a name for ourselves with the industry for delivering exceptional level of service surpassing all industry norms and expectations.

IT T&P is built on ensuring customer focus, Quality, Delivery and commitment to excellence. We believe in dedicating to those who we serve ensuring that no matter where our clients are located, We have ability to deliver the best service and constantly ensure that our clients and partners receive superior results.
       </p>
      </div>
     </div>
     
     
     
   
      </div>
      </div>
   
   
      
   <!-- Team section -->
   <div class="team" style="padding-bottom:27px">
    <div class="container">
    
        <h1 class="text-center">Our Team</h1>
        <div class="row">
        <p class="text-center ">Our team is composed of dedicated individuals with specialized expertise and experience. We come together to deliver exceptional IT services and solutions that take full advantage of disruptive technologies.</p>
     
      </div>
    
      <!-- Team section -->
   <!-- <div class="team">
    <div class="container">
      <div class="row" >
        <div class="col-lg-3 col-md-3 col-sm-12 item">
         <img src="assets/images/shivam.jpg" class="img-fluid" alt="team">
         <div class="des">
        Shaurya Mishra
          </div>
         <span class="text-muted">Manager</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 item">
         <img src="assets/images/stuti.jpg" class="img-fluid" alt="team">
         <div class="des">
          Er. Stuti 
          </div>
         <span class="text-muted">S.enginner</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 item">
         <img src="assets/images/pramod.jpg" class="img-fluid" alt="team">
         <div class="des">
         Mr. Pramod
          </div>
         <span class="text-muted">Front End Developer</span>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-12 item">
         <img src="assets/images/rohit.jpg" class="img-fluid" alt="team">
          <div class="des">
          Rohit Singh
          </div>
         <span class="text-muted">Team Manger</span>
        </div>
       </div>
     <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="assets/images/nikita.jpg" class="img-fluid" alt="team">
       <div class="des">
        Nikita Shrivastav
        </div>
       <span class="text-muted">Manager</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="assets/images/lakshya.jpg" class="img-fluid" alt="team">
       <div class="des">
        Lakshya Jya
        </div>
       <span class="text-muted">S.enginner</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="assets/images/mohit.jpg" class="img-fluid" alt="team">
       <div class="des">
         Mohit
        </div>
       <span class="text-muted">Front End Developer</span>
      </div>
      <div class="col-lg-3 col-md-3 col-sm-12 item">
       <img src="assets/images/arun.jpg" class="img-fluid" alt="team">
        <div class="des">
    Arun Maurya
        </div>
       <span class="text-muted">Team Manger</span>
      </div>
     </div>
    </div>
   </div> -->
    <div class="team">
      <div class="container">
        <!-- OrgSpire -->
        <div class="row margin-top-40">
        <div class="col-md-6 col-sm-6">
        <img decoding="async" class="img-responsive aligncenter" src="https://pronto-core-cdn.prontomarketing.com/2/wp-content/uploads/sites/3442/2020/08/icon-our-management-team.svg" alt="icon-our-management-team">
        <h4 class="text-center"><strong>Our Management Team</strong></h4>
        <ul>
        <li>Has 25 years of industry experience on average</li>
        <!-- <li>Keep our many locations working as a cohesive unit</li> -->
        <li>Are active participants in numerous industry associations</li>
        </ul>
        </div>
        <div class="col-md-6 col-sm-6">
        <img decoding="async" class="img-responsive aligncenter" src="https://pronto-core-cdn.prontomarketing.com/2/wp-content/uploads/sites/3442/2020/08/icon-our-consultants.svg" alt="icon-our-consultants">
        <h4 class="text-center"><strong>Our Consultants</strong></h4>
        <ul>
        <li>Have on average 16 years experience as project manager professionals</li>
        <!-- <li>Are PMI certified</li> -->
        <li>Have been supporting mission-critical environments for over 15 years</li>
        </ul>
        </div>
        <div class="col-md-6 col-sm-6">
        <img decoding="async" class="img-responsive aligncenter" src="assets/images/icon-our-engineers.svg" alt="icon-our-engineers">
        <h4 class="text-center"><strong>Our Engineers</strong></h4>
        <ul>
        <li>Have 12 years of technical experience on average</li>
        <li>Complete 6 weeks of soft skills and technology training every year</li>
        <li>Hold CompTIA A+, Network+, Security+, Server+, and PDI+ certifications</li>
        </ul>
        </div>
        <div class="col-md-6 col-sm-6">
        <img decoding="async" class="img-responsive aligncenter" src="https://pronto-core-cdn.prontomarketing.com/2/wp-content/uploads/sites/3442/2020/08/icon-our-sales-consultants.svg" alt="icon-our-sales-consultants">
        <h4 class="text-center"><strong>Our Sales Consultants</strong></h4>
        <ul>
        <li>Have 15 years of experience on average</li>
        <li>Complete yearly solution sales training</li>
        <li>Are certified on all of the technology solutions we offer</li>
        </ul>
        </div>
        </div>
        </div>
    </div> 
    </div>
   </div>
   
   
   
  
   
   <app-footer></app-footer>