
  <!---- Our Services  Process start ---->
 
  <div class="our-work-process">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2>Our Services Process</h2>
        </div>
        <div class="col-6 col-lg-3">
          <div class="step-box">
            <span class="step-number">1</span>
            <div class="step-icon"><i class="fa fa-book" aria-hidden="true"></i></div>
            <label>Post requirement</label>
             <!-- <label> & Book Order</label> -->
             <label> </label>
          </div>
        </div>
  
        <div class="col-6 col-lg-3">
          <div class="step-box">
            <span class="step-number">2</span>
            <div class="step-icon"><i class="fa fa-archive" aria-hidden="true"></i></div>
            <label>Wireframe</label>
          </div>
        </div>
  
        <div class="col-6 col-lg-3">
          <div class="step-box">
            <span class="step-number">3</span>
            <div class="step-icon"><i class="fa fa-file-image-o" aria-hidden="true"></i></div>
            <label>PSD</label>
          </div>
        </div>
  
        <div class="col-6 col-lg-3">
          <div class="step-box">
            <span class="step-number">4</span>
            <div class="step-icon"><i class="fa fa-code" aria-hidden="true"></i></div>
            <label>HTML </label>
          </div>
        </div>
      </div>
   
     <div class="row">
       
        <div class="col-6 col-lg-3">
          <div class="step-box">
            <span class="step-number">5</span>
            <div class="step-icon"><i class="fa fa-cloud-upload" aria-hidden="true"></i></div>
            <label>API SetUp</label>
          </div>
        </div>
  
        <div class="col-6 col-lg-3">
          <div class="step-box">
            <span class="step-number">6</span>
            <div class="step-icon"><i class="fa fa-cogs" aria-hidden="true"></i></div>
            <label>Integration </label>
             <!-- <label> of HTML & API</label> -->
          </div>
        </div>
  
        <div class="col-6 col-lg-3">
          <div class="step-box">
            <span class="step-number">7</span>
            <div class="step-icon"><i class="fa fa-hashtag" aria-hidden="true"></i></div>
            <label>Development</label>
          </div>
        </div>
  
        <div class="col-6 col-lg-3">
          <div class="step-box">
            <span class="step-number">8</span>
            <div class="step-icon"><i class="fa fa-cog" aria-hidden="true"></i></div>
            <label> Deployment </label>
          </div>
        </div>
      </div>
     <div class="row">
        <div class="col-6 col-lg-3">
          <div class="step-box">
            <span class="step-number">9</span>
            <div class="step-icon"><i class="fa fa-check-square-o" aria-hidden="true"></i></div>
            <label> Testing </label>
          </div>
        </div>
  
        <div class="col-6 col-lg-3">
          <div class="step-box">
            <span class="step-number">10</span>
            <div class="step-icon"><i class="fa fa-file-code-o" aria-hidden="true"></i></div>
            <label> Development-II</label>
            <!-- <label> Project Reports</label> -->
          </div>
        </div>
  
        <div class="col-6 col-lg-3">
          <div class="step-box">
            <span class="step-number">11</span>
            <div class="step-icon"><i class="fa fa-film" aria-hidden="true"></i></div>
            <label>Re-Testing </label>
             <!-- <label> Demonestration</label> -->
          </div>
        </div>
  
        <div class="col-6 col-lg-3">
          <div class="step-box">
            <span class="step-number">12</span>
            <div class="step-icon"><i class="fa fa-thumbs-o-up" aria-hidden="true"></i></div>
            <label>Project handover</label>
          </div>
        </div>
      </div>
   
   </div>
  </div>
  
           <!---- Our Services Process eND  ---->
           
  <!-- Services section -->
  <section id="what-we-do">
    <div class="container-fluid">
        <h2 class="section-title mb-2 h1">What we do</h2>
        <p class="text-center text-muted h5">Managing a correct marketing strategy is crucial in a fast moving market to make it's easy connected with us.</p>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title">Modern Web Development</h3>
                        <p class="card-text"> Responsive Web application development services with JavaScript | Angular | Node.js | AWS | MongoDB  | JAVA  | Python </p>
                    <!--	<a href="https://www.fiverr.com/share/qb8D02" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title">E-Commerce Solutions</h3>
                        <p class="card-text">Multi-tenant | Multi lingual | Mobile and Web based E-Commerce Consulting | Development | Solutions & Maintenance</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title">Cross Platform Apps</h3>
                        <p class="card-text">Native iOS | Swift | Native Android | React Native | Xamarin | C# | Flutter | Ionic</p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-1">
                        <h3 class="card-title">Training and Plecement</h3>
                        <p class="card-text"> Responsive Web application development services with JavaScript  | Angular | Node.js | AWS </p>
                    <!--	<a href="https://www.fiverr.com/share/qb8D02" title="Read more" class="read-more" >Read more<i class="fa fa-angle-double-right ml-2"></i></a> -->
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-2">
                        <h3 class="card-title">IT-Problem Solutions</h3>
                        <p class="card-text">Digital Marketing | Mobile and Web based E-Commerce Consulting | Development | Solutions & Maintenance</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-3">
                        <h3 class="card-title">Professional Video</h3>
                        <p class="card-text">Frame in motion | Youtube Video | any special occasion </p>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-4">
                        <h3 class="card-title">AI/ML Big Data Analytics</h3>
                        <p class="card-text">AI/ML Integration and Dashboard development with Tensorflow   | OpenNN  | Torch | PyTorch| Theano | Keras | Microsoft Cognitive Toolkit  | Apache MXNet | BigDL</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-5">
                        <h3 class="card-title">Reliable Blockchain Services</h3>
                        <p class="card-text">Blockchain Consulting | Sawtooth | Ethereum | Stellar | Parity | R3 Corda | POCs | Development for Hyperledger Fabric |</p>
                        
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-sm-6 col-md-4 col-lg-4 col-xl-4">
                <div class="card">
                    <div class="card-block block-6">
                        <h3 class="card-title">Internet of Things (IoT)</h3>
                        <p class="card-text">End-to-End IoT with Blockchain | AI | Data Analytics | Hardware and Firmware programming | Integration | Device Management Services and Solutions</p>
                    
                    
                    </div>
                </div>
            </div>
        </div>
    </div>	
</section>
<!-- /Services section -->

<!-- our services end---->
